.product{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.ProductList{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.category{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}